

body{
    background-color: #141D2F;
    font-family: 'Space Mono', monospace;
}

.container{
    width: 730px;
    margin: 100px auto 0 auto;
   
}
#header-text{
    font-style: normal;
    font-size: 26px;
    line-height: 39px;
    font-weight: 700;
    color: white;
}
#light-text{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: white;
}

.section-heading-content{
    width: 730px;
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 0.19fr 0fr;
}
.section-heading{
    width: 730px;
   
}
.section-search{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    background-color:#1E2A47;
    border-radius: 10px;
}
.section-search-content{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    align-items: center;
}

button{
    width: 106px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: #0079FF;
    color: white;
    font-family: 'Space Mono', monospace;
}
button:hover{
    cursor: pointer;
}

input{
    font-family: 'Space Mono', monospace;
    width: 254px;
    background-color: #1E2A47;
    border-style: none;
    margin-left: 20px;
    color: white;
}
input placeholder {
    color: white;
}
#search-box{
    margin-left: 20px;

}

.section-display{
    height: 419px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #1E2A47;
}

.cat-img{
    margin: 50px;
}
.display-content{
    margin-right: 40px;
}

.user-details{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
#join{
    text-align: right;
    margin-bottom:0 ;
    margin-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: white;
    
}
#login{
    color: #0079FF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

#profile-bio{
    color: white;
    font-family: 'Space Mono', monospace;
    word-wrap: break-word;
    margin-bottom: 50px;
    height:50px;

}
.analytics{
    background-color: #141D2F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.analytics-detail{
    font-style: normal;
    font-size: 13px;
    font-weight: 400;   
    line-height: 19px;
    color: white;
    margin-bottom: 0;
    
}
.analytics-numbers{
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: white;
}
#repos, #repos-number{
    margin-left: 30px;
}

.address{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
#user-id{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 0px;
}
.sub-details{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: white;
    margin-left: 10px;
}