

body{
    background-color: #141D2F;
    font-family: 'Space Mono', monospace;
}

.container{
    width: 730px;
    margin: 0 auto 0 auto;
   
}

.section-heading-content{
    width: 730px;
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 0.19fr 0fr;
}
.section-heading{
    width: 730px;
   
}
.section-search{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    background-color:#1E2A47;
    border-radius: 10px;
}
.section-search-content{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    align-items: center;
}

button{
    width: 106px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: #0079FF;
    color: white;
    font-family: 'Space Mono', monospace;
}
button:hover{
    cursor: pointer;
}

input{
    font-family: 'Space Mono', monospace;
    width: 254px;
    background-color: #1E2A47;
    border-style: none;
    margin-left: 20px;
    color: white;
}
input placeholder {
    color: white;
}
#search-box{
    margin-left: 20px;

}

.section-display{
    height: 419px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #1E2A47;
}

.cat-img{
    margin: 50px;
}
.display-content{
    margin-right: 40px;
}

.user-details{
    display: grid;
    grid-template-columns: 1fr 0fr;
}

#profile-bio{
    color: white;
    font-family: 'Space Mono', monospace;
    word-wrap: break-word;
    margin-bottom: 15px;
}
.analytics{
    background-color: #141D2F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin-bottom: 30px;
}

.address{
    display: grid;
    grid-template-columns: 1fr 1fr;
}